<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/navigation/about/">About</a>
    <a href="/navigation/contact/">Contact</a>
    <h1>USE FIltering</h1>

    <h3>add Filter</h3>
    <p>{{20 | add:"5"}}</p>
    <h3>Capfirst Filter</h3>
    <p>{{'django' | capfirst}}</p>
    <h3>Cut Filter</h3>
    <p>{{"January - February - March" | cut:"-"}}</p>
  </body>
</html>
